@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

table:nth-of-type(1) {
    border-collapse: collapse;
    border: 2px solid #fec106;
    margin: 20px auto;
    font-family: montserrat;
    width: 70%;
    max-width: 500px;
}

table:nth-of-type(1) th, td {
    border: 1px solid #fec106;
}

table:nth-of-type(1) th {
    text-align: center;
    background: #fec107;
    padding: 20px;
    text-transform: uppercase;
}

table:nth-of-type(1) td {
    text-align: left;
    background: #382c6e;
    color: white;
    padding: 20px;
}

table:nth-of-type(1) .orange {
    background: #e5ae30;
}

table:nth-of-type(2) {
    border-collapse: separate;
    border: 1px solid white;
    margin: 20px auto;
    font-family: Roboto;
    width: 100%;
    max-width: 500px;
}

table:nth-of-type(2) th,td {
    border: 1px solid white;
}

table:nth-of-type(2) th {
    background: #86006f;
    padding: 10px;
    color: white;
    text-align: left;
}

table:nth-of-type(2) tr:nth-child(odd) {
    background: #af5593;
}

table:nth-of-type(2) tr:nth-child(even) {
    background: #f37ecf;
}

table:nth-of-type(2) td {
    padding: 10px;
    color: white;
    text-align: left;
}

table:nth-of-type(3) {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 20px auto;
    font-family: Oswald;
    width: 100%;
    max-width: 500px;
}

table:nth-of-type(3) th {
    text-align: left;
    border: 2px solid black;
}

table:nth-of-type(3) td {
    text-align: left;
    border: 2px solid black;
}

table:nth-of-type(3) .oranzine {
    background: #fea500;
    color: white;
}

table:nth-of-type(3) .melyna {
    background: #4f4fff;
    color: white;
}

table:nth-of-type(3) .zalia {
    background: #16c03b;
    color: white;
}

table:nth-of-type(4)  {
    margin: auto;
}

table:nth-of-type(4) tr td {
    margin: 10px;
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

table:nth-of-type(4) tr:nth-child(odd) td:nth-child(even) {
    background: #f05712;
    border: 5px solid #2cd64d;
}
table:nth-of-type(4) tr:nth-child(even) td:nth-child(odd) {
    background: #f05712;
    border: 5px solid #2cd64d;
}

table:nth-of-type(4) tr:nth-child(odd) td:nth-child(odd) {
    background: #2cd64d;
    border: 5px solid #f05712;
}
table:nth-of-type(4) tr:nth-child(even) td:nth-child(even) {
    background: #2cd64d;
    border: 5px solid #f05712;
}
/* Divai */
table:nth-of-type(4) tr:nth-child(odd) td:nth-child(odd) div{
    height: 30px;
    width: 30px;
    background: #f05712;
}

table:nth-of-type(4) tr:nth-child(even) td:nth-child(even) div{
    height: 30px;
    width: 30px;
    background: #f05712;
}

table:nth-of-type(4) tr:nth-child(odd) td:nth-child(even) div{
    height: 30px;
    width: 30px;
    background: #2cd64d;
}

table:nth-of-type(4) tr:nth-child(even) td:nth-child(odd) div{
    height: 30px;
    width: 30px;
    background: #2cd64d;
}
  


